<div class="panel panel-primary" style="background-color:rgba(255,255,255,0.8);">
    <div class="panel-heading">
        Welcome
    </div>
    <div class="panel-body">
        <div class="row">
            <div class='col-md-12'>
                <h1 id="ProgressDemoMainHeader" style="font-family: 'open sans',sans-serif;">Personal Progress Demo - Angular</h1>

                <p><i>(Start demo by clicking the 'Add a Goal' link to the left)</i></p>

                <ul>
                    <li>Microsoft Technologies (ASP.NET Core 2 MVC / WebAPI / EF to SQL Server)</li>
                    <li>Open Source Technologies (Node.js (for tooling), Angular(4), TypeScript, WebPack, Gulp)</li>
                </ul>

                <p>
                    This website is a technology demo showcasing the full-stack development of a small website. It comprises an Asp.Net Core 2
                    back-end paired with an Angular UI.  The intended audience are technologists who will have relevant knowledge and experience
                    of the subject matter.
                </p>

                <p>
                    This app is intentionally simple - the purpose of this demo is not an extensive
                    end-product, but rather a showcase of a vertical stack.  This, alongside the
                    architecture, technology stack and development processes that underpin the system, presents a near complete
                    solution. It would now be straightforward to scale this up and
                    develop a significantly larger and more complex application.
                </p>


                <p>
                    <b>
                        You can find the entire open-source for this project here:
                        <a href="https://github.com/Layla-P/PersonalProgressDashboard">https://github.com/ Layla-P/ PersonalProgressDashboard</a>
                    </b>
                </p>

            </div>
           
        </div>
    </div>
</div>



<div class="panel panel-primary" style="background-color:rgba(255,255,255,0.8);">
    <div class="panel-heading">
        Features
    </div>
    <div class="panel-body">


        <div class="row">

            <div class="col-md-4" style="padding:20px;">

                <h3>
                    Back-end :
                </h3>
                <ul>

                    <li>Entity-Framework Core (Code-First) to an MS SqlServer Db</li>
                    <li>
                        Fluent-API to describe the database (as opposed to use of "data-annotations"" on domain models).
                        <br />
                        <a href="https://github.com/Layla-P/PersonalProgressDashboard/tree/master/src/PersonalProgressDashboard.Data/EntitiesConfigurations" target="_blank">
                            <i class="fa fa-hand-pointer-o fa-lg"></i> See "PersonalProgressDashboard.Data/ EntityConfigurations".
                        </a>
                    </li>

                    <li>
                        Database repository-pattern.
                        <br />
                        <a href="https://github.com/Layla-P/PersonalProgressDashboard/tree/master/src/PersonalProgressDashboard.Data/Repositories" target="_blank">
                            <i class="fa fa-hand-pointer-o fa-lg"></i> See "PersonalProgressDashboard.Data/ Repositories".
                        </a>
                    </li>
                   
                    <li>
                        WebAPI is used to present a Restful api layer to the client application.
                        <br />
                        <a href="https://github.com/Layla-P/PersonalProgressDashboard/tree/master/src/PersonalProgressDashboard.Api/Controllers" target="_blank">
                            <i class="fa fa-hand-pointer-o fa-lg"></i>
                            <i>See "PersonalProgressDashboard.Api" project.</i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4" style="padding:20px;">

                <h3>
                    Environment :
                </h3>
                <ul>
                    <li>Developed using a primarily Visual Studio 2017</li>
                    <li>
                        Hosted in Azure, using App services (a "Web App" and separate "API App")
                        alongside an Azure SQL Db.
                    </li>
                    <li>Development using GitHub for source control (using branches for CI workflow).</li>
                    <li>Master branch on GitHub is associated via an Azure-KUDU-based CI, deploying directly to production websites.</li>
                    <li>
                        TWO WEBSERVERS :   The main website is a separate VS project/server to the server hosting the WebAPI.
                        Clearly overkill for a microsite like this, it is intended to demonstrate that you can scale the two interconnected
                        systems in the cloud separately (e.g. if your api is being heavily loaded).
                        <br />
                        <i class="fa fa-hand-pointer-o fa-lg"></i> CORS is used to allow cross domain access.
                        <br />
                        <i class="fa fa-hand-pointer-o fa-lg"></i> Azure is configured to deploy the appropriate project to appropriate servers.
                    </li>
                    <li>User auth has been implented using dotnet identity provider and JWT tokens.  The front end is yet to be tied in</li>
                    <li>Logging has not yet been added to this demo, that will come later.</li>
                </ul>
            </div>

            <div class="col-md-4" style="padding:20px;">
                <h3>
                    Client-side application and build process :
                </h3>

                <ul>
                    <li>
                        Angular app written with Typescript; work in progress
                        <a href="https://github.com/Layla-P/PersonalProgressDashboard/tree/master/src/PersonalProgressDashboard.web.Angular/ClientApp" target="_blank">
                            <i class="fa fa-hand-pointer-o fa-lg"></i>
                            <i>See "App" sub-project.</i>
                        </a>
                    </li>

                    <li>
                        "WebPack" package building, to bundle the project (individual code and html templates) into a single js package.
                    </li>

                    <li>
                        "Bootstrap" and "Font-Awesome" for responsive UI.
                    </li>

                </ul>
            </div>
        </div>
    </div>
